
.filmbox{
  background-color: #F5F5F4;
  width: 300px;
  font-family: Verdana, Arial, sans-serif;
}

.filmlist{
  background-color: #F5F5F4;
  font-size: 13px;
}

.film{
  background-color: #F5F5F4;
}
