<h3>Welcome to the Codeclan Pizza Shop!</h3>

<p>Please click <a =href"www.google.co.uk">here</a> to place an order. Alternatively, please click <a =href"./index.erb">here</a> if you wish to check our existing orders and make an amendment.

Enjoy!</p>
