*{
  background-color: saddlebrown;
}

.filmbox{
  background-color: #F5F5F4;
  border-style: solid:
  border-color: black;
}

.filmlist{
  background-color: #F5F5F4;
}

.film{
  background-color: #F5F5F4;
}
