<H1>Welcome to Rock Paper Scissors!</H1>

<H3>To play, please enter the two choices into the URL within the address bar in the following format: http://localhost:4567/play_rps/selection1/selection2. Our helpful app will then let you know who wins based on your selections! We hope you enjoy this simple, yet effective, Rock Paper Scissors tool.</H3>
